/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/keymap.h>
#include <dt-bindings/hid.h>
#include "kbd_matrix-pinctrl.dtsi"

/ {
	model = "kbd-matrix";
	compatible = "balto,kbd-matrix";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led_status: led_a {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		};
	};

	kbd_matrix: kbd-matrix {
		compatible = "gpio-kbd-matrix";
		/*
		row-gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0  9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		*/
		row-gpios = <&pcal6408a 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&pcal6408a 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&pcal6408a 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&pcal6408a 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&pcal6408a 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		col-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>,
			    <&gpio0 13 GPIO_ACTIVE_LOW>,
			    <&gpio0 12 GPIO_ACTIVE_LOW>,
			    <&gpio0 10 GPIO_ACTIVE_LOW>;
		col-drive-inactive;
		//idle-mode = "poll";
		//idle-mode = "scan";
		//poll-timeout-ms = <0>;
		no-ghostkey-check;

		keymap: keymap {
			compatible = "input-keymap";
			keymap = <
				MATRIX_KEY(0, 0, INPUT_KEY_A)
				MATRIX_KEY(0, 1, INPUT_KEY_B)
				MATRIX_KEY(0, 2, INPUT_KEY_C)
				MATRIX_KEY(0, 3, INPUT_KEY_D)

				MATRIX_KEY(1, 0, INPUT_KEY_E)
				MATRIX_KEY(1, 1, INPUT_KEY_F)
				MATRIX_KEY(1, 2, INPUT_KEY_G)
				MATRIX_KEY(1, 3, INPUT_KEY_H)

				MATRIX_KEY(2, 0, INPUT_KEY_I)
				MATRIX_KEY(2, 1, INPUT_KEY_J)
				MATRIX_KEY(2, 2, INPUT_KEY_K)
				MATRIX_KEY(2, 3, INPUT_KEY_L)

				MATRIX_KEY(3, 0, INPUT_KEY_M)
				MATRIX_KEY(3, 1, INPUT_KEY_N)
				MATRIX_KEY(3, 2, INPUT_KEY_O)
				MATRIX_KEY(3, 3, INPUT_KEY_P)

				MATRIX_KEY(4, 0, INPUT_KEY_LEFTMETA)
				MATRIX_KEY(4, 1, INPUT_KEY_LEFTCTRL)
				MATRIX_KEY(4, 2, INPUT_KEY_LEFTALT)
				MATRIX_KEY(4, 3, INPUT_KEY_LEFTSHIFT)
			>;
			row-size = <5>;
			col-size = <4>;
		};
	};

	hid {
		compatible = "hid";
		input {
			hid-kbd {
				compatible = "hid-kbd";
				input = <&keymap>;
				input-id = <1>;
				report = <HID_KBD_REPORT(1, 0)>;
			};
		};
		output {
			hid-hog {
				compatible = "hid-hog";
			};
		};
	};

	ble-unpair {
		input = <&keymap>;
		compatible = "ble-unpair";
		key-a = <INPUT_KEY_A>;
		key-b = <INPUT_KEY_LEFTSHIFT>;
	};

	pm-control {
		compatible = "pm-control";
		connect-on = <&kbd_matrix>;
	};
};

&uicr {
	nfct-pins-as-gpios;
};

&reg {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
	sense-edge-mask = <0xffffffff>;
};

&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	pcal6408a: pcal6408a@20 {
		compatible = "nxp,pcal6408a";
		status = "okay";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		reset-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
		int-gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x8000>;
		};
		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 0x3a000>;
		};
		slot1_partition: partition@42000 {
			label = "image-1";
			reg = <0x00042000 0x3a000>;
		};
		storage_partition: partition@7c000 {
			label = "storage";
			reg = <0x0007c000 0x00004000>;
		};
	};
};
