#include <dt-bindings/hid.h>

/ {
	buttons: buttons {
		button_0 {
			zephyr,code = <INPUT_KEY_A>;
		};
	};

	hid {
		compatible = "hid";
		input {
			hid-kbd {
				compatible = "hid-kbd";
				input = <&buttons>;
				input-id = <1>;
				output-id = <1>;
				report = <HID_KBD_REPORT(1, 1)>;
			};
			hid-mouse {
				compatible = "hid-mouse";
				input = <&buttons>;
				input-id = <2>;
				report = <HID_MOUSE_REPORT(2)>;
			};
		};
		output {
			usb-hid {
				compatible = "usb-hid";
				usb-hid-dev = <&hid_dev_0>;
			};
		};
	};

	hid1 {
		compatible = "hid";
		input {
			hid-gamepad {
				compatible = "hid-gamepad";
				input = <&buttons>;
				input-id = <1>;
				report = <HID_GAMEPAD_REPORT(1)>;
			};
		};
		output {
			usb-hid {
				compatible = "usb-hid";
				usb-hid-dev = <&hid_dev_1>;
			};
		};
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		interface-name = "HID0";
		protocol-code = "keyboard";
		in-report-size = <16>;
		in-polling-rate = <500>;
		out-report-size = <8>;
		out-polling-rate = <200>;
	};

	hid_dev_1: hid_dev_1 {
		compatible = "zephyr,hid-device";
		interface-name = "HID1";
		in-report-size = <32>;
		in-polling-rate = <1000>;
	};
};

led_input_blink: &led1_red {};
