#include <dt-bindings/hid.h>

/ {
	buttons: buttons {
		wkup: button_0 {
			zephyr,code = <INPUT_KEY_A>;
		};
		button_1 {
			zephyr,code = <INPUT_BTN_NORTH>;
		};
		/delete-node/ button_2;
		/delete-node/ button_3;
	};

	buttons_2: buttons2 {
		compatible = "gpio-keys";
		button2: button_2 {
			gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_BTN_LEFT>;
		};
		button3: button_3 {
			gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_BTN_NORTH>;
		};
	};

	ble-unpair {
		compatible = "ble-unpair";
		key-a = <INPUT_KEY_A>;
		key-b = <INPUT_BTN_LEFT>;
	};

	hid {
		compatible = "hid";
		input {
			hid-kbd {
				compatible = "hid-kbd";
				input = <&buttons>;
				input-id = <1>;
				output-id = <1>;
				report = <HID_KBD_REPORT(1, 1)>;
			};
			hid-mouse {
				compatible = "hid-mouse";
				input = <&buttons_2>;
				input-id = <2>;
				report = <HID_MOUSE_REPORT(2)>;
			};
		};
		output {
			hid-hog {
				compatible = "hid-hog";
			};
		};
	};

	hid2 {
		compatible = "hid";
		input {
			hid-gamepad {
				compatible = "hid-gamepad";
				input = <&buttons>;
				input-id = <1>;
				report = <HID_GAMEPAD_REPORT(1)>;
			};
		};
		output {
			hid-hog-2 {
				compatible = "hid-hog";
			};
		};
	};

	hid3 {
		compatible = "hid";
		input {
			hid-gamepad {
				compatible = "hid-gamepad";
				input = <&buttons_2>;
				input-id = <1>;
				report = <HID_GAMEPAD_REPORT(1)>;
			};
		};
		output {
			hid-hog-3 {
				compatible = "hid-hog";
			};
		};
	};
};

led_status: &led0 {};
led_input_activity: &led1 {};

&i2c0 {
	status = "disabled";
};

&spi2_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
			<NRF_PSEL(SPIM_MOSI, 0, 26)>,
			<NRF_PSEL(SPIM_MISO, 0, 26)>;
	};
};

&spi2_sleep {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
			<NRF_PSEL(SPIM_MOSI, 0, 26)>,
			<NRF_PSEL(SPIM_MISO, 0, 26)>;
	};
};
