#include <dt-bindings/hid.h>

/ {
	buttons: buttons {};
	hid {
		compatible = "hid";
		hid-kbd {
			input = <&buttons>;
			compatible = "hid-kbd";
			input-id = <1>;
			report = <HID_KBD_REPORT(1)>;
		};
		output = <&hid_hog>;
	};

	hid_hog: hid-hog {
		compatible = "hid-hog";
	};
};

&button0 {
	zephyr,code = <INPUT_KEY_A>;
};

&button1 {
	zephyr,code = <INPUT_KEY_B>;
};

&button2 {
	zephyr,code = <INPUT_KEY_C>;
};

&button3 {
	zephyr,code = <INPUT_KEY_D>;
};
