menu "Application"

config APP_MANUFACTURER_NAME
	string "Manufacturer name"
	default "Zephyr"

config APP_DEVICE_NAME
	string "Device name"
	default "zephyr-input"

config APP_BAS_ADC
	bool "BAS Vbatt ADC support"
	default y
	depends on "$(dt_nodelabel_enabled,vbatt)"
	select ADC
	select BT_BAS

config APP_CHARGER
	bool "Charger support"
	default y
	depends on "$(dt_nodelabel_enabled,charger)"
	select CHARGER

config APP_BLINKER
	bool "Blinker support"
	default y
	depends on "$(dt_nodelabel_enabled,led_blinker)"
	select LED

config APP_AUTO_POWEROFF
	bool "Auto power-off"
	default y
	depends on "$(dt_nodelabel_enabled,wkup)"
	select POWEROFF
	depends on BT

endmenu

configdefault INPUT_SHELL
	default y

configdefault INPUT_EVENT_DUMP
	default y

configdefault INPUT_SHELL_KBD_MATRIX_STATE
	default y

configdefault I2C_SHELL
	default y

configdefault LED_SHELL
	default y

configdefault SETTINGS_SHELL
	default y

configdefault PM_DEVICE_SHELL
	default y

if BT

config BT_SMP
	default y

config BT_DEVICE_APPEARANCE
	default 964 if DT_HAS_HID_GAMEPAD_ENABLED
	default 961 if DT_HAS_HID_KBD_ENABLED
	default 962 if DT_HAS_HID_MOUSE_ENABLED

config BT_DEVICE_NAME
	default APP_DEVICE_NAME

config BT_PERIPHERAL
	default y

config BT_SETTINGS
	default y

config BT_PERIPHERAL_PREF_MIN_INT
	default 6

config BT_PERIPHERAL_PREF_MAX_INT
	default 6

config BT_PERIPHERAL_PREF_LATENCY
	default 30

config BT_PERIPHERAL_PREF_TIMEOUT
	default 500

config BT_CONN_PARAM_UPDATE_TIMEOUT
	default 1000

config BT_MAX_CONN
	default 1

config BT_MAX_PAIRED
	default 1

endif # BT

if USB_DEVICE_STACK_NEXT

config USBD_HID_SUPPORT
	default y

endif # USB_DEVICE_STACK_NEXT

source "Kconfig.zephyr"
