menu "Application"

endmenu

configdefault INPUT_SHELL
	default y

configdefault INPUT_SHELL_KBD_MATRIX_STATE
	default y

if BT

config BT_SMP
	default y

config BT_DEVICE_APPEARANCE
	default 961

config BT_DEVICE_NAME
	default "zephyr-keyboard"

config BT_PERIPHERAL
	default y

config BT_SETTINGS
	default y

config BT_PERIPHERAL_PREF_MIN_INT
	default 6

config BT_PERIPHERAL_PREF_MAX_INT
	default 6

config BT_PERIPHERAL_PREF_LATENCY
	default 30

config BT_PERIPHERAL_PREF_TIMEOUT
	default 500

config BT_CONN_PARAM_UPDATE_TIMEOUT
	default 1000

config BT_MAX_CONN
	default 1

config BT_MAX_PAIRED
	default 1

endif # BT

if USB_DEVICE_STACK_NEXT

config USBD_HID_SUPPORT
	default y

endif # USB_DEVICE_STACK_NEXT

source "Kconfig.zephyr"
