menu "Application"

config APP_MANUFACTURER_NAME
	string "Manufacturer name"
	default "Zephyr"

config APP_DEVICE_NAME
	string "Device name"
	default "zephyr-input"

config APP_BAS_FUEL_GAUGE_SENSOR
	bool "BAS fuel gauge support (sensor)"
	default y
	depends on "$(dt_nodelabel_enabled,fuel_gauge_sensor)"
	select SENSOR
	select BT_BAS

config APP_CHARGER
	bool "Charger support"
	default y
	depends on "$(dt_nodelabel_enabled,charger)"
	select CHARGER

config APP_CHARGER_GPIO
	bool "GPIO charger support"
	default y
	depends on "$(dt_nodelabel_enabled,charger_gpio)"

config APP_AUTO_POWEROFF
	bool "Auto power-off"
	default y
	depends on "$(dt_nodelabel_enabled,wkup)"
	select POWEROFF
	depends on BT

config APP_USB_REMOTE_WAKEUP
	bool "USB Remote Wakeup"
	depends on USB_DEVICE_STACK_NEXT

if USB_DEVICE_STACK_NEXT

config APP_USB_VID
	hex "USB VID"
	default 0x2fe3

config APP_USB_PID
	hex "USB PID"
	default 0x0007

config APP_USB_MAX_POWER
        int "USB bMaxPower (2mA units)"
        default 250
        range 0 250

endif # USB_DEVICE_STACK_NEXT

endmenu

config FUEL_GAUGE_COMPOSITE
	select BT_BAS

configdefault INPUT_SHELL
	default y

configdefault INPUT_EVENT_DUMP
	default y

configdefault INPUT_SHELL_KBD_MATRIX_STATE
	default y

configdefault I2C_SHELL
	default y

configdefault LED_SHELL
	default y

configdefault SETTINGS_SHELL
	default y

configdefault PM_DEVICE_SHELL
	default y

config SHELL_CMDS
	default n

config SHELL_CMDS_RETURN_VALUE
	default n

config DEVMEM_SHELL
	default n

if BT

config BT_SMP
	default y

config BT_DEVICE_APPEARANCE
	default 964 if DT_HAS_HID_GAMEPAD_ENABLED
	default 961 if DT_HAS_HID_KBD_ENABLED
	default 962 if DT_HAS_HID_MOUSE_ENABLED

config BT_DEVICE_NAME
	default APP_DEVICE_NAME

config BT_PERIPHERAL
	default y

config BT_SETTINGS
	default y

config BT_PERIPHERAL_PREF_MIN_INT
	default 6

config BT_PERIPHERAL_PREF_MAX_INT
	default 6

config BT_PERIPHERAL_PREF_LATENCY
	default 30

config BT_PERIPHERAL_PREF_TIMEOUT
	default 500

config BT_CONN_PARAM_UPDATE_TIMEOUT
	default 1000

config BT_MAX_CONN
	default 1

config BT_MAX_PAIRED
	default 1

endif # BT

source "Kconfig.zephyr"
