name: Firmware build

on:
  push:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        board: [kbd_matrix, darfon, nrf52dk/nrf52832, nrf52840dongle, pmw_testboard]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@main
        with:
          app-path: firmware
          toolchains: arm-zephyr-eabi

      - name: Build
        run: |
          west build -b ${{ matrix.board }} firmware
          echo "BOARD=$(sed 's/\//_/' <<< ${{ matrix.board }})" >> $GITHUB_ENV

      - name: Firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware_${{ env.BOARD }}
          path: |
            build/zephyr/zephyr.elf
            build/zephyr/zephyr.hex
            build/zephyr/zephyr.bin
